<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>TimeControl</title>
    <%= stylesheet_link_tag "common" %>
    <%= stylesheet_link_tag "bootstrap.min" %> 
    <%= stylesheet_link_tag "index" %> 
    <%= stylesheet_link_tag "bangding" %>
    <%= stylesheet_link_tag "timecontrol/timecontrol.css" %>
    <%= javascript_include_tag "jquery-1.12.1.min" %>
    <%= javascript_include_tag "bootstrap.min" %>
    <%= javascript_include_tag "index" %>
    <%= javascript_include_tag "jianplaceholder" %>
    <%= javascript_include_tag "script.js" %>
    <%= javascript_include_tag "appjs/layout.js" %>
    <%= javascript_include_tag "angular-1.5.8.js" %>
    <%= javascript_include_tag "appjs/index.js" %>
    <%= javascript_include_tag "appjs/page.js" %>
</head>
<body ng-app="index" ng-controller="indexcontroller">
    <div class="head">
        <div class="headleft">TimeControl:从不浪费时间的人，没有工夫抱怨时间不够</div>
        <div class="headright">
            <span>{{weather}}、{{fengXiang}}晴，微风2级、空气质量：{{quality}}优、温度：{{low}}17℃~28{{high}}℃</span>
            <!--<div class="login">
              <span class="headbtn" id="login">登录</span>
              <span class="headbtn" id="regist">注册</span>
            </div>-->
        </div>
    </div>
    <div class="logo">
        <div class="logoleft timecontrol_title">
            <img src="/assets/TimeControl/TimeControl.jpg" alt=""/><br/>
        </div>
        <div class="timesentence">
        	 <p>时间是一切财富中最宝贵的财富。</p>
        </div>
        <div class="logoright">
           
            <ul class="QRcode">
                <li style="font-size:10px"><img src="/assets/appcode.png" alt=""/><br/><span>APP二维码</span></li>
                <li style="font-size:10px"><img src="/assets/appcode.png" alt=""/><br/><span>微信二维码</span></li>
            </ul>
        </div>
    </div>
    <ul class="navtitle">
        <li class="shouye navbg">首页</li>
        <!--<li class="navtitle2">
            <div class="titleitem" id="navtitle2"></div>
            <div id="culmark">
                <div class="markitem lvyou">文化旅游</div>
                <div class="markitem fuwu">购票服务</div>
                <div class="markitem tiyu">文化体育</div>
                <div class="markitem huodong">文化活动</div>
                <div class="markitem tushu">书画图书</div>
                <div class="markitem gongyipin">工艺品</div>
                <div class="markitem canyin">特色餐饮</div>
            </div>
        </li>-->
        <li class="timeset">时间安排</li>
        <li class="qinmiset">亲密设置</li>
        <li class="teamset">团队建设</li>
        <!--<li class="navtitle5">
            <div class="titleitem" id="navtitle5">文博艺术</div>
            <div id="culart">
                <div class="artitem peixun">文化培训</div>
                <div class="artitem chuangyi">文化创意</div>
                <div class="artitem bowu">文化博物</div>
            </div>
        </li>-->
        <li class="register">注册</li>
        <li class="login">登录</li>
        <li class="person">个人中心</li>
    </ul>

    <iframe src="/shouyes" marginheight="0" marginwidth="0" frameborder="0" scrolling="no" width="100%" height='100%' id="iframepage" name="iframepage" onLoad="iFrameHeight1()" ></iframe>

    <div class="clear"></div>
    <div class="foot">
        <div class="footitem">
            <b>友情链接</b>
            <ul>
                <li><a href="http://lib.ucas.ac.cn/">国科大图书馆</a></li>
                <li><a href="http://sep.ucas.ac.cn/">国科大教育平台</a></li>
                <li><a href="https://mail.cstnet.cn/">国科大邮箱系统</a></li>
            </ul>
        </div>
        <div class="footitem">
            <b>平台功能</b>
            <ul>
                <li><a href="cultureadvisory.html">时间设置</a></li>
                <li><a href="culcompass.html">亲密设置</a></li>
                <li><a href="tourism.html">团队建设</a></li>
                <li><a href="dramabuy.html">个人中心</a></li>
            </ul>
        </div>
        <div class="footitem footitemcen">
            <b>联系方式</b>
            <ul class="contact">
                <li>电话:&nbsp;&nbsp;022-12345678</li>
                <li>email:&nbsp;wuqing@163.com</li>
                <li>地址:&nbsp;&nbsp;北京市怀柔区</li>
            </ul>
        </div>
        <div class="footitem footitemright">
            <b>帮助</b>
            <ul>
                <li>免责声明</li>
                <li>使用规则</li>
                <li>使用指南</li>
            </ul>
            <ul>
                <li>使用方式</li>
                <li>个人计划</li>
            </ul>
        </div>
    </div>
</body>
    <script type="text/javascript" language="javascript">
   /* window.onload=function(){*/
  	function iFrameHeight1()
  	{
  		setTimeout(iFrameHeight,500); 
  	}
  	
    function iFrameHeight() {

        var ifm= document.getElementById("iframepage");

        var subWeb = document.frames ? document.frames["iframepage"].document :ifm.contentDocument;

        if(ifm != null && subWeb != null) {
            ifm.height=0;
            ifm.height = subWeb.body.scrollHeight+80;

        }
    }
    /**********首页*********/
    $(".shouye").click(function(){
        $("iframe").attr("src","/shouyes");
    });
    /**********时间设置*********/
    $(".timeset").click(function(){
        $("iframe").attr("src","/timesets");
    });
    /**********亲密设置*********/
    $(".qinmiset").click(function(){
        $("iframe").attr("src","/qinmisets");
    });
    /**********团队建设*********/
    $(".teamset").click(function(){
        $("iframe").attr("src","teamsets.html");
    });
    /**********z注册*********/
    $(".register").click(function(){
        $("iframe").attr("src","/regist1s");
    });
    /**********登录*********/
    $(".login").click(function(){
        $("iframe").attr("src","/users");
    });
    /**********会员中心*********/
    $(".person").click(function(){
        $("iframe").attr("src","/personals");
    });

    /*登录注册*/
    var navlis=$("li",$(".navtitle"));
    $("#login").click(function(){
        $("iframe").attr("src","/users");
        navlis.removeClass("navbg");
    });
    $("#regist").click(function(){
        $("iframe").attr("src","/shouyes");
        navlis.removeClass("navbg");
    });





   /* };*/
</script>
<script>
    window.onload=function(){
//        var test=document.getElementById('iframepage').contentWindow.document.getElementById('test');
//        test.style.color="blue";



        var myiframe = document.getElementById("iframepage");
        window.onclick = function(){
//            console.log(myiframe.contentWindow.window.scrollY);
            for(var k in myiframe){
                var x = k+"";
//                console.log(x);
            }

        };
        myiframe.contentWindow.window.scrollTo(0,0);


        /*var test=document.getElementById('iframepage').contentWindow.document.getElementById('test');
        test.style.color="blue";*/

        /*var zhifubtn=document.getElementById('iframepage').contentWindow.document.getElementsByClassName('zhifubtn');
        zhifubtn.style.color="blue";
        var a=zhifubtn.length;
        alert(a);
        zhifubtn.onclick=function(){
            alert(1);
        }*/
    };
</script>
</html>